<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Forecaster</title>
    <link rel="stylesheet" href="~/dist/bundle.css" asp-append-version="true"/>
</head>
<body class="d-flex align-items-center justify-content-center">
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/dist/bundle.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>