@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Forecaster</title>
    <link rel="stylesheet" href="~/dist/bundle.css" asp-append-version="true"/>
</head>
<body>
    <header>
        <div class="menu">
            <h3 class="menu-logo">ForeCaster</h3>
            <div class="menu-btn">
                <span class="menu-btn__burger"></span>
            </div>
        </div>

        <nav>
            <ul class="nav-list">
                <li class="nav-list__item">
                    <a href="" class="nav-list__link">
                        Home
                    </a>
                </li>
                <li class="nav-list__item">
                    <a href="" class="nav-list__link">
                        About
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <footer>
        <div class="social-icons">
            <a href="@Configuration["Social:Linkedin"]">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
            <a href="@Configuration["Social:Github"]">
                <i class="fab fa-github fa-2x"></i>
            </a>
            <a href=@Configuration["Social:Discord"]>
                <i class="fab fa-discord fa-2x"></i>
            </a>
        </div>
        <p class="copyright">
            <span>Copyright &copy; 2021</span>
            <span>All Rights Reserved</span>
        </p>
    </footer>

    <script src="~/dist/bundle.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/5256d7606a.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>