@using System.Net
@using Forecaster.Models.Enums
@using Serilog
@model Tuple<Forecaster.Models.OpenWeather.CityWeather, System.Net.HttpStatusCode>
@{
    ViewData["Title"] = "XD";
}
@functions
{
    public string GetCountry(string country)
    {
        Log.Information("Looking for " + country + " short name");
        foreach (Countries value in Enum.GetValues(typeof(Countries)))
        {
            var foundedShortName = value.GetShortNameName();
            if (foundedShortName.Equals(country.ToUpper()))
            {
                return foundedShortName;
            }

        }
        return null;
    }
}

<div class="text-center">
    @if (Model.Item2 == HttpStatusCode.OK)
    {
        <div id="weather-header">
            <div class="location">
                <h1>@Model.Item1.Name</h1>
                <h3>@GetCountry(Model.Item1.SysData.Country)</h3>
            </div>
            <div>
                
            </div>
        </div>
        <div id="weather-body">asdeasfgsfdgd</div>
    }
    else if (Model.Item2 == HttpStatusCode.NotFound)
    {
        <p>This location doesn`t exist</p>
    }
    else
    {
        <p>Something went wrong. Try again.</p>
    }

    
    
            
</div>
