/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import 'config';
@import 'responsive';
@import "menu";
@import '~bootstrap/scss/bootstrap';

#weather-mode {
  text-align: center;
  text-align-last: center;
  
  > option {
    text-align: left;
  }
}

#location-input-form {
  @include flexCenter;
  flex-direction: column;
  
  .form-group {
    @include flexCenter;
    flex-direction: column;
    
    & + .form-group {
      margin-top: 1rem;
    }
  }
}

.weather {
  @include flexCenter;
  flex-direction: column;
  text-align: center;
  
  &-header {
    //border-bottom: 1px solid $secondary-color;
    
    &-list {
      @include flexCenter;
      flex-direction: column;
      padding: 1rem 2rem;
      background-color: $secondary-color;
      margin-bottom: 0;
      
      .weather-item {
        @include flexCenter;
        flex-direction: column;
        
        &.coordinates {
          flex-direction: row;
          
          p + p {   // margin between cords
            margin-left: 1.5rem;
          }
        }
      }
    }
    
    
    h1 {
      margin: 0;
    }
  }
  
  &-body {
    width: 100vw;
    
    &-list {
      @include flexCenter;
      flex-direction: column;
      margin: .5rem 0 0 0;
      padding: 0;
      
      .weather-item {
        @include flexCenter;

        &.weather-icon {
          position: relative;

          .icon-description {
            position: absolute;
            width: 100%;
            bottom: .25rem;
            left: 50%;
            transform: translateX(-50%);
            font-weight: 500;
            background-color: rgba($secondary-color, 0.85);
            border-radius: 1rem;
            padding: .25rem 1rem;
          }
        }

        &.temperature {
          flex-direction: column;
          margin-bottom: 1rem;
          
          .temperature-current {
            font-size: 3rem;
            line-height: 1.2em;
          }
          
          .temperature-feel {
            font-size: 1rem;
          }
        }
        
        &.temp-min-max {
          @include flexCenter;
          flex-direction: column;
          
          div {
            @include flexCenter;
            
            p {
              font-weight: 500;
            }

            p+p {
              padding-left: 1rem;
            }
          }

          .divider {
            margin: 0 .5rem;
          }
        }
      }
      
      //&:first-child {
      //  margin-bottom: 1rem;
      //  padding-bottom: .25rem;
      //  border-bottom: 1px solid $secondary-color;
      //}
    }
  }
  
  p {
    margin: 0;
  }
}

.centered {
  align-items: baseline;
}

