@using Forecaster.Models.Enums
@model Forecaster.Models.OpenWeather.GetWeather
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="home-logo" class="display-1">ForeCaster</h1>
    <div class="pt-2 d-flex flex-column">
        <form id="location-input-form" asp-controller="Home" asp-action="Index" method="post">
            <div class="form-group">
                <label for="location">Enter your location</label>
                <input id="location" type="text" asp-for="Location" placeholder="your city">
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            @* <div class="form-group"> *@
            @*     <label for="mode-select">Choose mode</label> *@
            @*     <select id="mode-select" class="custom-select" asp-for="Mode" asp-items="Html.GetEnumSelectList<ModeEnum>()"> *@
            @*     </select> *@
            @* </div> *@

            <div class="form-group">
                <label for="weather-mode-select">Select weather mode</label>
                <select class="form-control" id="weather-mode-select" asp-items="@Html.GetEnumSelectList<Modes>()">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Index" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
