@import '~bootstrap/scss/bootstrap';
@import 'config';
@import "menu";


#weather-mode {
  text-align: center;
  text-align-last: center;

  > option {
    text-align: left;
  }
}

#location-input-form {
  @include flexCenter;
  flex-direction: column;

  .form-group {
    @include flexCenter;
    flex-direction: column;

    & + .form-group {
      margin-top: 1rem;
    }
  }
}

.weather {
  @include flexCenter;
  flex-direction: column;
  text-align: center;

  &-header {
    //border-bottom: 1px solid $secondary-color;

    &-list {
      @include flexCenter;
      flex-direction: column;
      padding: 1rem 2rem;
      background: linear-gradient(45deg, $tertiary-orange-color, $secondary-orange-color);
      @include box-shadow-inset;
      margin-bottom: 0;

      .weather-item {
        @include flexCenter;
        flex-direction: column;

        &.coordinates {
          flex-direction: row;

          p + p { // margin between cords
            margin-left: 1.5rem;
          }
        }
      }
    }


    h1 {
      margin: 0;
    }
  }

  &-body {
    width: 100vw;

    &-list {
      @include flexCenter;
      flex-direction: column;
      margin: 0;
      padding: 0;

      .weather-item {
        @include flexCenter;

        &.weather-icon {
          position: relative;

          .icon-description {
            position: absolute;
            width: 100%;
            bottom: .25rem;
            left: 50%;
            transform: translateX(-50%);
            font-weight: 500;
            background-color: rgba($tertiary-orange-color, 0.7);
            border-radius: 1rem;
            padding: .25rem 1rem;
          }
        }

        &.temperature {
          flex-direction: column;
          margin-bottom: 1rem;

          .temperature-current {
            font-size: 3rem;
            line-height: 1.2em;
          }

          .temperature-feel {
            width: 100%;
            height: 100%;
            font-size: 1rem;
          }
        }

        &.interval {
          @include flexCenter;
          flex-direction: column;

          div {
            @include flexCenter;

            p {
              font-weight: 500;
            }

            p + p {
              padding-left: 1rem;
            }
          }

          .divider {
            margin: 0 .5rem;
          }
        }

        h1, h2, h3, h4, h5, h6 {
          margin: 0;
        }
      }

      &.weather-details {
        display: inline-block;
        padding: .5rem 2rem;

        .weather-item + .weather-item {
          border-top: 1px solid rgba($tertiary-orange-color, 0.2);
        }
      }

      & + & {
        margin-top: .75rem;
      }
    }
  }

  p {
    margin: 0;
  }
}

.geolocation {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem auto 0 auto;
  max-width: 10rem;
  
  > * {
    margin: auto;
  }
  
  &-btn {
    margin-top: 1rem;
    min-width: 5rem;
    background-color: #313131;
  }
}

.centered {
  align-items: baseline;
}

.flex-center {
  @include flexCenter;
}

// IMPORT MEDIA QUERIES TO OVERWRITE STYLES
@import "responsive";

